extends layout
block content

    div(class="list-group")
        a(href="#" class="list-group-item")
            h4(class="list-group-item-heading")
                span(class="glyphicon glyphicon-user" aria-hidden="true") &nbsp; PedidosdeOração.net
            p(class="list-group-item-text") Primeiramente quero me apresentar a você. Meu nome é Paulo, tenho 31 anos, casado com Alinne e pai da Sarah idealizador deste projeto. Ele nasceu no meu coração para abençoar a sua vida. Hoje nem todas as igrejas tem uma ferramenta para centralizar os pedidos de oração de seus membros on-line, e as quais tem, são exclusivas e divulgadas apenas em sua igreja local. Por este motivo, criei esta plataforma da forma mais simplificada para alcançar a todas as pessoas que precisam de alguma formar de oração, seja ela o motivo que for.
        a(href="#" class="list-group-item")
            h4(class="list-group-item-heading")
                span(class="glyphicon glyphicon-share" aria-hidden="true") &nbsp; Quem pode postar ?
            p(class="list-group-item-text") Para postar você não precisa ser membro de alguma Igreja e nem ter um login, apenas precisa crer que Jesus pode responder a sua oração, ter fé, pois na Bíblia está escrito “ e clame a mim no dia da angústia e eu o livrarei, e você me honrará” Salmo 50:15
        a(href="#" class="list-group-item")
            h4(class="list-group-item-heading")
                span(class="glyphicon glyphicon-thumbs-up" aria-hidden="true") &nbsp; Quem pode orar ?
            p(class="list-group-item-text") Para orar pelos pedidos de oração você precisa crer em Jesus e obedecer sua Palavra em 1 Tessalonicenses 5:17 “Orem continuamente”.
            p Você que gosta  de orar, tire alguns minutos do seu dia para orar pelos pedidos na timeline.
        a(href="#" class="list-group-item")
            h4(class="list-group-item-heading")
                span(class="glyphicon glyphicon-grain" aria-hidden="true") &nbsp; Como a plataforma funciona ?
            p(class="list-group-text") Você que precisa de oração basta responder a seguinte pergunta :
            p Qual seu motivo de oração hoje ?
            p Tente ser objetivo com o seu pedido, você tem 516 caracteres para demonstrar sua necessidade. Preencha seu nome e seu e-mail, seu e-mail não será divulgado e também não é obrigatório neste momento.
            p Pedimos apenas que seja honesto e não poste nenhum conteúdo ofensivo.
            p Queremos que todos postem, e de forma rápida, então cuidado ao escrever seu conteúdo, porque você não consiguirá apagar sua mensagem no momento, apenas reportar ao administrador via formulário.
            p Aproveite os recursos da plataforma e ao postar o seu pedido use o caracter #, isso vai auxiliar você e seu grupo a achar o seu pedido de oracao
            p Aproveite os recursos da plataforma e ao postar o seu pedido use o caractere #, isso vai auxiliar você e seu grupo a achar o seu pedido de oração no campo ( Procure sua # ).
            p Exemplo de boa postagem:
                | Preencher todos os dados.
                | Gostaria de oração pela vida da minha avó que não está bem, o nome dela é Sebastiana. #saude
